body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgba(159, 170, 119, 0.493);
    font-weight: bold;
}
button{
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(102, 99, 68);
    color: rgb(209, 167, 77);
    cursor: pointer;
    font-weight: bold;

}
#list-item{
    line-height: 1.5em;
    border: 2px solid rgb(102, 99, 68);
    border-radius: 10px;
    font-weight: bold;
    color: rgb(30, 51, 99);
   
}
#list-item:focus{
    background-color: rgba(159, 170, 119, 0.493)
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px ;
 
}
#itemInList{
   display: inline-block;
    margin-top: 20px ;
    margin-right: 350px ;
}
.btn{
    float: left; 
    width: 100px;
    
  
   
    
}